.testimonial-wrapper {
  background-image: url("https://cdn.zeplin.io/66f8014e448d745cf150b46b/assets/cb590119-c333-44fc-8365-3487a5af829a.png");
  border-radius: 20px;
}

@media (min-width: 768px) {
  .testimonial-wrapper {
    clip-path: polygon(
      0.858% 0.409%,
      0.858% 0.409%,
      0.819% 0.473%,
      0.777% 0.547%,
      0.734% 0.631%,
      0.69% 0.722%,
      0.646% 0.817%,
      0.604% 0.916%,
      0.564% 1.015%,
      0.526% 1.113%,
      0.492% 1.208%,
      0.463% 1.298%,
      0.463% 1.298%,
      0.432% 1.388%,
      0.399% 1.498%,
      0.365% 1.625%,
      0.329% 1.765%,
      0.294% 1.914%,
      0.259% 2.07%,
      0.226% 2.229%,
      0.195% 2.388%,
      0.166% 2.544%,
      0.142% 2.692%,
      0.142% 2.692%,
      0.105% 3.001%,
      0.075% 3.528%,
      0.052% 4.481%,
      0.034% 6.063%,
      0.021% 8.48%,
      0.011% 11.936%,
      0.005% 16.638%,
      0.002% 22.79%,
      0% 30.597%,
      0% 40.264%,
      0% 40.264%,
      0.001% 49.221%,
      0.002% 56.62%,
      0.006% 62.611%,
      0.012% 67.346%,
      0.021% 70.977%,
      0.032% 73.653%,
      0.048% 75.526%,
      0.067% 76.747%,
      0.091% 77.467%,
      0.119% 77.837%,
      0.119% 77.837%,
      0.139% 77.986%,
      0.162% 78.143%,
      0.188% 78.306%,
      0.217% 78.469%,
      0.246% 78.63%,
      0.277% 78.785%,
      0.308% 78.931%,
      0.338% 79.064%,
      0.368% 79.181%,
      0.396% 79.279%,
      0.396% 79.279%,
      0.425% 79.376%,
      0.458% 79.478%,
      0.495% 79.583%,
      0.534% 79.69%,
      0.576% 79.796%,
      0.618% 79.898%,
      0.661% 79.996%,
      0.703% 80.087%,
      0.744% 80.169%,
      0.784% 80.24%,
      0.784% 80.24%,
      0.866% 80.34%,
      1.016% 80.422%,
      1.266% 80.491%,
      1.652% 80.548%,
      2.208% 80.595%,
      2.968% 80.635%,
      3.966% 80.67%,
      5.236% 80.703%,
      6.813% 80.735%,
      8.731% 80.769%,
      8.731% 80.769%,
      10.635% 80.798%,
      12.204% 80.826%,
      13.471% 80.857%,
      14.469% 80.892%,
      15.232% 80.931%,
      15.793% 80.979%,
      16.185% 81.035%,
      16.441% 81.102%,
      16.595% 81.181%,
      16.679% 81.274%,
      16.679% 81.274%,
      16.719% 81.349%,
      16.764% 81.443%,
      16.811% 81.554%,
      16.86% 81.678%,
      16.91% 81.812%,
      16.961% 81.954%,
      17.01% 82.102%,
      17.057% 82.252%,
      17.101% 82.401%,
      17.142% 82.548%,
      17.142% 82.548%,
      17.182% 82.701%,
      17.222% 82.869%,
      17.262% 83.048%,
      17.3% 83.235%,
      17.336% 83.425%,
      17.369% 83.616%,
      17.399% 83.803%,
      17.425% 83.982%,
      17.446% 84.15%,
      17.463% 84.303%,
      17.463% 84.303%,
      17.474% 84.468%,
      17.485% 84.657%,
      17.495% 84.866%,
      17.505% 85.089%,
      17.514% 85.322%,
      17.522% 85.559%,
      17.528% 85.798%,
      17.533% 86.031%,
      17.536% 86.256%,
      17.537% 86.466%,
      17.537% 86.466%,
      17.539% 86.682%,
      17.543% 86.907%,
      17.55% 87.138%,
      17.56% 87.369%,
      17.572% 87.596%,
      17.586% 87.815%,
      17.601% 88.02%,
      17.619% 88.207%,
      17.637% 88.372%,
      17.657% 88.51%,
      17.657% 88.51%,
      17.679% 88.645%,
      17.703% 88.788%,
      17.731% 88.937%,
      17.76% 89.087%,
      17.79% 89.237%,
      17.821% 89.382%,
      17.852% 89.52%,
      17.883% 89.647%,
      17.912% 89.76%,
      17.94% 89.856%,
      17.94% 89.856%,
      17.967% 89.953%,
      17.999% 90.055%,
      18.035% 90.16%,
      18.073% 90.267%,
      18.114% 90.373%,
      18.156% 90.475%,
      18.198% 90.573%,
      18.24% 90.664%,
      18.282% 90.746%,
      18.321% 90.817%,
      18.321% 90.817%,
      18.374% 90.9%,
      18.44% 90.974%,
      18.521% 91.041%,
      18.616% 91.1%,
      18.727% 91.154%,
      18.854% 91.202%,
      19% 91.244%,
      19.164% 91.282%,
      19.348% 91.316%,
      19.552% 91.346%,
      19.552% 91.346%,
      19.791% 91.382%,
      19.993% 91.418%,
      20.165% 91.458%,
      20.31% 91.503%,
      20.432% 91.556%,
      20.536% 91.62%,
      20.626% 91.695%,
      20.707% 91.785%,
      20.783% 91.893%,
      20.858% 92.019%,
      20.858% 92.019%,
      20.909% 92.121%,
      20.961% 92.235%,
      21.014% 92.361%,
      21.066% 92.495%,
      21.118% 92.635%,
      21.167% 92.779%,
      21.212% 92.924%,
      21.254% 93.068%,
      21.291% 93.208%,
      21.321% 93.341%,
      21.321% 93.341%,
      21.35% 93.479%,
      21.379% 93.631%,
      21.408% 93.794%,
      21.437% 93.964%,
      21.464% 94.138%,
      21.489% 94.312%,
      21.513% 94.484%,
      21.534% 94.651%,
      21.552% 94.808%,
      21.567% 94.952%,
      21.567% 94.952%,
      21.578% 95.096%,
      21.589% 95.253%,
      21.6% 95.418%,
      21.61% 95.588%,
      21.618% 95.76%,
      21.626% 95.93%,
      21.633% 96.094%,
      21.638% 96.248%,
      21.641% 96.39%,
      21.642% 96.514%,
      21.642% 96.514%,
      21.644% 96.639%,
      21.65% 96.781%,
      21.661% 96.935%,
      21.674% 97.099%,
      21.691% 97.269%,
      21.711% 97.44%,
      21.734% 97.611%,
      21.758% 97.776%,
      21.785% 97.933%,
      21.813% 98.077%,
      21.813% 98.077%,
      21.843% 98.219%,
      21.878% 98.367%,
      21.918% 98.52%,
      21.961% 98.675%,
      22.007% 98.828%,
      22.054% 98.977%,
      22.101% 99.119%,
      22.149% 99.25%,
      22.195% 99.369%,
      22.239% 99.471%,
      22.5% 100.024%,
      22.5% 100.024%,
      42.431% 100.016%,
      58.563% 100.007%,
      71.298% 99.993%,
      81.038% 99.974%,
      88.186% 99.946%,
      93.144% 99.908%,
      96.315% 99.858%,
      98.1% 99.794%,
      98.904% 99.714%,
      99.127% 99.615%,
      99.127% 99.615%,
      99.167% 99.545%,
      99.21% 99.465%,
      99.255% 99.377%,
      99.3% 99.283%,
      99.346% 99.186%,
      99.391% 99.086%,
      99.433% 98.986%,
      99.472% 98.887%,
      99.507% 98.792%,
      99.537% 98.702%,
      99.537% 98.702%,
      99.568% 98.612%,
      99.601% 98.501%,
      99.635% 98.374%,
      99.671% 98.234%,
      99.706% 98.083%,
      99.741% 97.925%,
      99.774% 97.763%,
      99.805% 97.6%,
      99.834% 97.439%,
      99.858% 97.284%,
      99.858% 97.284%,
      99.895% 96.968%,
      99.925% 96.365%,
      99.948% 95.216%,
      99.966% 93.261%,
      99.979% 90.237%,
      99.989% 85.887%,
      99.995% 79.948%,
      99.998% 72.161%,
      100% 62.265%,
      100% 50%,
      100% 50%,
      100% 37.735%,
      99.998% 27.839%,
      99.995% 20.052%,
      99.989% 14.112%,
      99.979% 9.76%,
      99.966% 6.734%,
      99.948% 4.775%,
      99.925% 3.622%,
      99.895% 3.015%,
      99.858% 2.692%,
      99.858% 2.692%,
      99.834% 2.544%,
      99.805% 2.388%,
      99.774% 2.229%,
      99.741% 2.07%,
      99.706% 1.914%,
      99.671% 1.765%,
      99.635% 1.625%,
      99.601% 1.498%,
      99.568% 1.388%,
      99.537% 1.298%,
      99.537% 1.298%,
      99.507% 1.208%,
      99.472% 1.113%,
      99.433% 1.014%,
      99.391% 0.914%,
      99.346% 0.814%,
      99.3% 0.717%,
      99.255% 0.623%,
      99.21% 0.535%,
      99.167% 0.455%,
      99.127% 0.385%,
      99.127% 0.385%,
      98.908% 0.286%,
      98.239% 0.206%,
      96.897% 0.143%,
      94.66% 0.093%,
      91.305% 0.057%,
      86.61% 0.032%,
      80.353% 0.015%,
      72.311% 0.005%,
      62.263% 0.001%,
      49.985% 0%,
      49.985% 0%,
      37.816% 0.008%,
      27.83% 0.017%,
      19.814% 0.031%,
      13.552% 0.05%,
      8.832% 0.078%,
      5.439% 0.116%,
      3.159% 0.166%,
      1.779% 0.23%,
      1.083% 0.31%,
      0.858% 0.409%
    );
  }
}
